{% extends "layout.html" %}
{% from "macros/form.html" import input, textarea, select %}
{% block title %} 메일리포트 {% endblock %}

{% block section %}

<div class="row">
<div class="col-lg-8">
    <div class="card-wrapper">
    <!-- Form controls -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">메일리포트 {{'수정' if channel_report_id else '등록'}}</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <form method="POST" action="{{ url_for('admins.report_modify_post') }}">
                {{ input('hidden', 'channel_report_id', channel_report_id, opt='required') }}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlInput1">제목</label>
                            {{ input('text', 'title', res.Title if res, opt='required') }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlInput1">리포트 종류</label>
                            {{ select('report_kind_id', report_kind)}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="exampleFormControlInput1">설명</label>
                    {{ textarea('contents', res.Contents if res, rows=5, opt='required') }}
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="exampleFormControlInput1">수신자 명단 (예시: 홍길동,김영희,박철수)</label>
                    {{ input('text', 'recipients', res.Recipients if res, opt='required') }}
                </div>
                <button class="btn btn-outline-primary" type="button" onclick="javascript:history.back()">뒤로가기</button>
                <button class="btn btn-primary" type="submit">
                    {{'수정' if channel_report_id else '등록'}}
                </button>
            </form>
        </div>
    </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('input[name="title"]');
        if (searchInput) {
            searchInput.focus();
            
            if (searchInput.value) {
                searchInput.setSelectionRange(searchInput.value.length, searchInput.value.length);
            }
        }

    });
</script>

{% endblock %}