{% extends "layout.html" %}
{% from "macros/form.html" import input, textarea, checkboxes, select %}
{% block title %} 상담 {% endblock %}

{% block section %}

<div class="row">
  <div class="col-lg-8">
    <div class="card-wrapper">
      <!-- Form controls -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">{{agency.AgencyName}} 상담 {{'수정' if channel_manage_id else '등록'}}</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" action="{{ url_for('counsels.consult_modify_post') }}">
            {{ input('hidden', 'channel_id', channel_id) }}
            {{ input('hidden', 'channel_manage_id', channel_manage_id) }}
            {{ input('hidden', 'channel_agency_id', channel_agency_id, opt='required') }}
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="contact_date">상담일 (mm/dd/yyyy)</label>
                  {{ input('text', 'contact_date', res.ContactDate if res else today.strftime('%m/%d/%Y'),
                  class="datepicker bg-white", opt='required') }}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="complete_date">처리완료일 (mm/dd/yyyy)</label>
                  {{ input('text', 'complete_date', res.CompleteDate if res and res.CompleteDate else '', class="datepicker bg-white", opt='readonly') }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="contact_style">컨텍방식</label>
                  {{ select('contact_style_id', contact_style)}}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="consult_type">상담종류</label>
                  {{ select('consult_type_id', consult_type)}}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="contacter">피상담자</label>
                  {{ select('contacter_id', contacter)}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label">피상담자명</label>
                  {{ input('text', 'contacter_name', res.ContacterName if res and res.ContacterName) }}
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label">동행자</label>
                  {{ input('text', 'companion_name', res.CompanionName if res and res.CompanionName) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label">상담태도</label>
                  {{ checkboxes('manner_kind_id', manner_kind) }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="title">제목 (미입력시 내용의 첫 줄)</label>
              {{ input('text', 'title', res.Title if res and res.Title) }}
            </div>
            <div class="form-group">
              <label class="form-control-label" for="contents">상담내용</label>
              {{ textarea('contents', res.Contents if res, rows=10, opt='required') }}
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="title">첨부파일</label>
                  {{ input('file', 'upload_file_path', upload_file_path, opt='multiple', onchange='checkFiles(this)') }}
                  <span class="text-sm text-muted">허용된 파일: "jpg", "png", "txt", "doc", "docx", "xls", "xlsx", "pdf",
                    "ppt", "pptx"</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        {% for file in file_list %}
                        <tr id="row_{{file.ChannelManageFileID}}">
                          <td class="text-left"
                            style="padding-left:0px; padding-top:3px; padding-bottom:3px; border-top:0px">
                            <a
                              href="{{ url_for('file_download', file_path=file.UploadFilePath, file_name=file.UploadFileName, download_yn=1) }}">{{file.UploadFileName}}</a>
                            &nbsp;&nbsp;
                            <a href="javascript:deleteFile({{file.ChannelManageFileID}});" class="text-danger">x</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-outline-default" type="button" onclick="window.history.back()">뒤로가기</button>
            <button class="btn {{'btn-success' if channel_manage_id else 'btn-primary'}}" type="submit">
              {{'수정' if channel_manage_id else '등록'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/partner_profile_card.html' %}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.querySelector('input[name="title"]');
    if (searchInput) {
      searchInput.focus();

      if (searchInput.value) {
        searchInput.setSelectionRange(searchInput.value.length, searchInput.value.length);
      }
    }
  });


  function checkFiles(input) {
    const files = input.files;
    const maxSizeInBytes = 1024 * 1024 * 50;
    const allowedExtensions = ["jpg", "jpeg", "png", "JPG", "JPEG", "PNG", "txt", "doc", "docx", "xls", "xlsx", "pdf", "ppt", "pptx"];


    for (let i = 0; i < files.length; i++) {
      const file = files[i];

      // 파일 크기 체크
      if (file.size > maxSizeInBytes) {
        site.showNotification('top', 'center', '최대 크기(50메가)를 초과하는 파일이 있습니다.', 'danger')
        input.value = ''; // 파일 선택을 취소합니다.
        input.type = 'file'; // 파일을 리셋합니다.
        return;
      }

      // 파일 확장명 체크
      const fileNameParts = file.name.split('.');
      const fileExtension = fileNameParts[fileNameParts.length - 1].toLowerCase();
      if (!allowedExtensions.includes(fileExtension)) {
        site.showNotification('top', 'center', '허용되지 않은 확장명이 포함된 파일이 있습니다.', 'warning')
        input.value = ''; // 파일 선택을 취소합니다.
        input.type = 'file'; // 파일을 리셋합니다.
        return;
      }
    }
  }

  var deleteFile = function (manage_file_id) {
    swal({
      title: '삭제',
      text: "선택한 파일을 정말로 삭제하시겠습니까?",
      type: 'warning',
      showCancelButton: true,
      confirmButtonClass: 'btn btn-danger',
      cancelButtonClass: 'btn btn-outline-danger',
      confirmButtonText: 'Yes, delete it!',
      buttonsStyling: false
    }).then((result) => {
      if (result.value) {
        $.ajax({
          type: "POST",
          url: "/counsels/set_manage_file_delete",
          data: { manage_file_id: manage_file_id },
          success: function (result) {
            $("#row_" + manage_file_id).remove();
          }
        });
      }
    });
  }
</script>

{% endblock %}