{% extends "layout.html" %}
{% from "macros/form.html" import input %}
{% from "macros/modal.html" import classic_modal %}
{% block title %} 상담 전체 {% endblock %}

{% block section %}

<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-0">전체채널 상담 ({{search.total | number_format}}개)
            </h3>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:history.back();" class="btn btn-sm btn-outline-default btn-round btn-icon">
              뒤로가기
            </a>
            {% if res_list %}
            <a href="{{ url_for(request.endpoint, channel_id=channel_id, export_yn=true, start_date=search.start_date, end_date=search.end_date, search_text=search.search_text) }}"
              class="btn btn-sm btn-success btn-round btn-icon">
              Excel
            </a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          {% include 'includes/search_card.html' %}
        </div>
      </div>

      <!-- Light table -->
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th>채널</th>
              <th>No.</th>
              <th>파트너</th>
              <th>카테고리</th>
              <th>제목</th>
              <th>등록(수정)</th>
              <th>상담일</th>
              <th>완료일</th>
            </tr>
          </thead>
          <tbody>
            {% for res in res_list %}
            <tr>
              <td>
                <b>{{res.ChannelKind}}</b>
              </td>
              <td>
                <b>{{res.ChannelManageID}}</b>
              </td>
              <td>
                <span class="font-weight-bold">{{res.AgencyName}}</span>
              </td>
              <td>
                <span class="text-muted">{{res.CategoryName}}</span>
              </td>
              <td>
                <span class="text-muted">
                  <a href="javascript:contentOpen({{res.ChannelManageID}})" class="table-action table-action-edit">
                  {{res.Title}}
                  </a>
                </span>
              </td>
              <td>
                <span class="{{'text-primary' if res.UserUseYn else 'text-muted'}}">
                  {{res.UserName}}
                  {{'('+res.UpdateUserName+')' if res.UpdateChannelUserID and res.UpdateChannelUserID != res.ChannelUserID}}
                </span>
              </td>
              <td>
                <span class="text-muted">{{res.ContactDate}}</span>
              </td>
              <td>
                <span class="text-muted">{{res.CompleteDate if res.CompleteDate}}</span>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="8" class="text-center">
                <b>검색 결과가 없습니다.</b>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Card footer -->
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            {% set board_list_url = url_for(request.endpoint, channel_id=channel_id, row_size=paging.row_size,
            search_text=search.search_text if search, start_date=search.start_date, end_date=search.end_date if search)
            %}

            {% if paging.pre_page_yn %}
            <li class="page-item"><a class="page-link" href="{{board_list_url}}&page={{paging.pre_page}}"><i
                  class="fas fa-angle-left"></i></a></li>
            {% endif %}
            {% for i in range(paging.start_page, paging.max_page) %}
            {% if paging.page == i %}
            <li class="page-item active"><a class="page-link" href="{{board_list_url}}&page={{i}}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{board_list_url}}&page={{i}}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if paging.next_page_yn %}
            <li class="page-item"><a class="page-link" href="{{board_list_url}}&page={{paging.next_page}}"><i
                  class="fas fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


{% call classic_modal('contentModal', '내용 보기', is_show_footer=False) %}
    <div id="contentContent"></div>
{% endcall %}

<script type="text/javascript">
    function contentOpen(manageId) {
        $("#contentModal").modal('show');
        
        $.ajax({
            url: '/counsels/get_counsel_content',
            type: 'GET',
            data: { channel_manage_id: manageId },
            success: function(response) {
                var content = response.content;
                var textarea = document.createElement('textarea');
                textarea.value = content;
                textarea.readOnly = true;
                textarea.style.width = '100%';
                textarea.style.height = '300px';
                textarea.style.border = 'none';
                textarea.style.outline = 'none';
                textarea.style.resize = 'none';
                document.getElementById("contentContent").innerHTML = '';
                document.getElementById("contentContent").appendChild(textarea);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching notice:", error);
                document.getElementById("contentContent").innerHTML = "내용을 불러오는 중 오류가 발생했습니다.";
            }
        });
    }
</script>

{% endblock %}