{% extends "layout_login.html" %}
{% from "macros/form.html" import input %}
{% from "macros/modal.html" import classic_modal %}
{% block title %} 회원 가입 {% endblock %}

{% block section %}

<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-orange py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-5">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">튼튼영어 채널관리</h1>
              <p class="text-lead text-white"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                신규등록
              </div>
              <form class="form" id="user_insert" action="/accounts/user_insert" method="post" onsubmit="return validateForm()">

				        <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ input('email', 'user_email', account, opt='required', placeholder='사내 이메일') }}
                  </div>
                </div>

        				<div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>
                    {{ input('text', 'user_name', password, opt='required', placeholder='사원명') }}
                  </div>
                </div>

                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    {{ input('text', 'employee_code', password, opt='required', placeholder='사원코드') }}
                  </div>
                </div>

        				<div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ input('password', 'user_passwd', user_passwd, min=8, opt='required', placeholder='신규 비밀번호') }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ input('password', 'confirm_passwd', confirm_passwd, min=8, opt='required', placeholder='비밀번호 확인') }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="term_check" type="checkbox" value="" required>
                    <label class="custom-control-label" for="term_check">
                      사용자 이용약관에 동의합니다. 
                      <a href="{{url_for('accounts.user_term')}}" class="d-inline-block ml-1" target="_blank">(이용약관 보기)</a>
                    </label> 
                  </div>
                </div>
                <div id="alert" class="text-sm text-danger text-center"></div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



<script type="text/javascript">
  function validateForm() {
      if (document.getElementById("user_passwd").value.length < 8) {
          document.getElementById("alert").innerText="암호는 8자리 이상이어야 합니다.";
      }
      else if (document.getElementById("user_passwd").value != document.getElementById("confirm_passwd").value) {
          document.getElementById("alert").innerText="암호가 서로 일치해야 합니다.";
          return false;
      }
      else if (document.getElementById("term_check").checked == false) {
          document.getElementById("alert").innerText="이용약관에 대한 동의를 해야 회원 가입이 가능합니다.";
          return false;
      }
      else {
        document.getElementById("alert").innerText="";
        return true;
      }
  }
</script>

{% endblock %}