{% extends "layout_admin.html" %}
{% from "macros/form.html" import input %}
{% block title %} 교육관리 {% endblock %}

{% block main_section %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="margin-top: 50px; margin-bottom: 100px;">
                        <div class="text-center">
                            <img src="{{model_path}}" width="180px">
                        </div>
                        <h3 class="title text-center">준비중입니다.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




