{% set is_navbar_page = request.path.find('/products/main_list/x') >= 0 %}

<!--	<nav class="navbar navbar-primary navbar-transparent navbar-absolute">-->

{% if is_navbar_page  %}
	<nav class="navbar navbar-primary navbar-fixed-top" id="sectionsNav">
{% else %}
	<nav class="navbar navbar-primary navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll="100" id="sectionsNav">
{% endif %}

	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('homes.index')}}" title="튼튼영어 교재 영상 스트리밍 서비스">
			   <img src="/static/images/main/tuntunplay_logo.png" width="110px" />
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						베이비리그
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=3, product_kind_sub_id=0) }}">
								전체보기
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=1) }}">
								Orange
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=2) }}">
								Green
							</a>
						</li>
						{% if session.login_user and session.login_user.manager_yn %}
							<li>
								<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=102) }}">
									Sing Along & Dance Along
								</a>
							</li>
						{% else %}
							<li>
								<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=3) }}">
									Sing Along
								</a>
							</li>
							<li>
								<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=4) }}">
									Dance Along
								</a>
							</li>
						{% endif %}

						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=5) }}">
								Gyuri and Friends
							</a>
						</li>

						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=6) }}">
								Q-Play
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=3, content_group_id=7) }}">
								W-Play
							</a>
						</li>
						<li>
                            <hr style="margin: 0">
							<a href="{{ url_for('products.content_list', product_kind_id=3, content_title_id=488) }}">
								Parents' Guide
							</a>
						</li>
						{% if session.login_user and session.login_user.manager_yn %}
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=3, board_kind_id=106) }}">
									체험/상담 관리
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=3, board_kind_id=105) }}">
									자료실
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						주니어
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=4, product_kind_sub_id=0) }}">
								전체보기
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=4, product_kind_sub_id=10) }}">
								Listening
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=4, product_kind_sub_id=11) }}">
								Speaking
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=4, product_kind_sub_id=12) }}">
								Literacy
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=4, product_kind_sub_id=13) }}">
								Immersion
							</a>
						</li>
						<li>
							<hr style="margin: 0">
							<a href="{{ url_for('products.download_list', download_kind_id=22) }}">
								컨텐츠 다운로드
							</a>
						</li>
						{% if session.login_user and session.login_user.manager_yn %}
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=4, board_kind_id=106) }}">
									체험/상담 관리
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=4, board_kind_id=105) }}">
									자료실
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						주니어플러스
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="{{ url_for('products.main_group_list', product_kind_id=62) }}">
								전체보기
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.title_list', product_kind_id=121, content_group_id=131) }}">
								Gyuri & Family
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=63, product_kind_sub_id=0) }}">
								Level 1
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=64, product_kind_sub_id=0) }}">
								Level 2
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=65, product_kind_sub_id=0) }}">
								Level 3
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=91, product_kind_sub_id=0) }}">
								More
							</a>
						</li>
						{% if session.login_user and session.login_user.manager_yn %}
							<li>
								<hr style="margin: 0">
								<a href="{{ url_for('boards.board_list', product_kind_id=62, board_kind_id=106) }}">
									체험/상담 관리
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=62, board_kind_id=105) }}">
									자료실
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						튜터링
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-with-icons">
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=5, product_kind_sub_id=0) }}">
								전체보기
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=5, product_kind_sub_id=14) }}">
								Storytelling
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=5, product_kind_sub_id=15) }}">
								Presentation
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=5, product_kind_sub_id=16) }}">
								Independent Reading
							</a>
						</li>
						<li>
							<a href="{{ url_for('products.main_list', product_kind_id=5, product_kind_sub_id=17) }}">
								Creative Writing
							</a>
						</li>
						<li>
							<hr style="margin: 0">
							<a href="{{ url_for('products.download_list', download_kind_id=22) }}">
								컨텐츠 다운로드
							</a>
						</li>
<!--						<li>-->
<!--							<a href="../sections.html#blogs">-->
<!--								T-Buddy-->
<!--							</a>-->
<!--						</li>-->
						{% if session.login_user and session.login_user.manager_yn %}
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=5, board_kind_id=106) }}">
									체험/상담 관리
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=5, board_kind_id=105) }}">
									자료실
								</a>
							</li>
						{% endif %}
					</ul>
				</li>

				{% if session.login_user and session.login_user.manager_yn %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							교육 및 공지
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a href="{{ url_for('educations.edu_main_list', class_type_id=108) }}">
									교사 교육
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=0, board_kind_id=114) }}">
									교육컨설팅/상담
								</a>
							</li>
							<li>
								<a href="{{ url_for('boards.board_list', product_kind_id=0, board_kind_id=110) }}">
									맘스 클래스
								</a>
							</li>
							<li>
								<hr style="margin: 0">
								<a href="{{ url_for('boards.board_list', product_kind_id=0, board_kind_id=104) }}">
									공지사항
								</a>
							</li>
						</ul>
					</li>
				{% endif %}

				{% if session.login_user %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ session.login_user.member_name }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
<!--							<li>-->
<!--								<a href="{{ url_for('products.content_favorite_music_list', product_kind_id=3, content_group_id=0) }}">-->
<!--									음원 즐겨찾기-->
<!--								</a>-->
<!--							</li>-->
							<li>
								<a href="{{ url_for('products.content_favorite_list', product_kind_id=3, content_group_id=0) }}">
									좋아요 표시한 영상
								</a>
							</li>
							{% if session.login_user.pass_member_id %}
								<li>
									<a href="{{ url_for('homes.native_service') }}">
										P2P Plus
									</a>
								</li>
							{% endif %}
							<li>
								<hr style="margin: 0">
								<a href="{{ url_for('accounts.member_update') }}">
									채널 추가 
								</a>
							</li>
							<li>
								<a href="{{ url_for('accounts.member_pass_update') }}">
									비밀번호 변경
								</a>
							</li>
							<li>
								<a href="{{ url_for('accounts.logout') }}" class="dropdown-toggle">
									로그아웃
								</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li>
						<a href="{{ url_for('accounts.member_insert', manager_yn=0) }}">
							회원가입
						</a>
					</li>
					<li class="button-container">
						<a href="{{ url_for('accounts.login') }}" class="btn btn-orange btn-round btnPush" style="box-shadow: 0 4px 0px 0 #BB431E;">
							로그인
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
