{% extends "layout.html" %}
{% from "macros/modal.html" import classic_modal %}
{% block title %} 메인 {% endblock %}

{% block section %}

<div class="row">
<div class="col-xl-6">
	<div class="card">
	<div class="card-header border-0">
		<div class="row align-items-center">
		<div class="col">
			<h3 class="mb-0">{{channel_id | channel_name}} (최근 1년)
			</h3>
		</div>
		</div>
	</div>
	<div class="table-responsive">
		<!-- Projects table -->
		<table class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
			<th scope="col">관리</th>
			<th scope="col">등록글수</th>
			<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<th scope="row">
				<a href="{{ url_for('counsels.consult_list', channel_id=channel_id) }}">
					<span class="text-muted">상담</span>
				</a>
			</th>
			<td>
				{{res.ConsultCnt|number_format}}
				{% set consult_rate = ((res.ConsultCnt / (res.ConsultCnt + res.SupportCnt + res.ViolationCnt)) * 100) | round(1) %}
			</td>
			<td>
				<div class="d-flex align-items-center">
				<span class="mr-2">{{consult_rate}}%</span>
				<div>
					<div class="progress">
					<div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{consult_rate}}%;"></div>
					</div>
				</div>
				</div>
			</td>
			</tr>
			<tr>
				<th scope="row">
					<a href="{{ url_for('counsels.support_list', channel_id=channel_id) }}">
						<span class="text-muted">지원</span>
					</a>
				</th>
				<td>
					{{res.SupportCnt|number_format}}
					{% set support_rate = ((res.SupportCnt / (res.ConsultCnt + res.SupportCnt + res.ViolationCnt)) * 100) | round(1) %}
				</td>
				<td>
					<div class="d-flex align-items-center">
					<span class="mr-2">{{support_rate}}%</span>
					<div>
						<div class="progress">
						<div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{support_rate}}%;"></div>
						</div>
					</div>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">
					<a href="{{ url_for('counsels.violation_list', channel_id=channel_id) }}">
						<span class="text-muted">위반</span>
					</a>
				</th>
				<td>
					{{res.ViolationCnt|number_format}}
					{% set violation_rate = ((res.ViolationCnt / (res.ConsultCnt + res.SupportCnt + res.ViolationCnt)) * 100) | round(1) %}
				</td>
				<td>
					<div class="d-flex align-items-center">
					<span class="mr-2">{{violation_rate}}%</span>
					<div>
						<div class="progress">
						<div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{violation_rate}}%;"></div>
						</div>
					</div>
					</div>
				</td>
				</tr>
			<!-- <tr>
			<th scope="row">
				<a href="{{ url_for('counsels.consult_total_list', channel_id=channel_id) }}">상담(전체체널)</a>
			</th>
			<td>
				{{res.ConsultTotalCnt|number_format}}
				{% set total_consult_rate = ((res.ConsultTotalCnt / (res.ConsultTotalCnt + res.SupportTotalCnt)) * 100) | round(1) %}
			</td>
			<td>
				<div class="d-flex align-items-center">
				<span class="mr-2">{{total_consult_rate}}%</span>
				<div>
					<div class="progress">
					<div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{total_consult_rate}}%;"></div>
					</div>
				</div>
				</div>
			</td>
			</tr>
			<tr>
			<th scope="row">
				<a href="{{ url_for('counsels.support_total_list', channel_id=channel_id) }}">지원(전체체널)</a>
			</th>
			<td>
				{{res.SupportTotalCnt|number_format}}
				{% set total_support_rate = ((res.SupportTotalCnt / (res.ConsultTotalCnt + res.SupportTotalCnt)) * 100) | round(1) %}
			</td>
			<td>
				<div class="d-flex align-items-center">
				<span class="mr-2">{{total_support_rate}}%</span>
				<div>
					<div class="progress">
					<div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{total_support_rate}}%;"></div>
					</div>
				</div>
				</div>
			</td>
			</tr> -->
		</tbody>
		</table>
	</div>
	</div>
</div>
{% if notice_list %}
<div class="col-xl-6">
	<div class="card">
	<div class="card-header border-0">
		<div class="row align-items-center">
		<div class="col">
			<h3 class="mb-0">공지사항</h3>
		</div>
		<div class="col text-right">
			<a href="{{ url_for('homes.notice_list', channel_id=channel_id) }}" class="btn btn-sm btn-primary">전체 보기</a>
		</div>
		</div>
	</div>
	<div class="table-responsive">
		<!-- Projects table -->
		<table class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
			<th scope="col">제목</th>
			<th scope="col">날짜</th>
			</tr>
		</thead>
		<tbody>
            {% for noti in notice_list %}
			<tr>
			<td scope="row">
				<a href="javascript:void(0)" onclick="noticeOpen({{noti.ChannelNoticeID}})">{{noti.Title}}</a>
				{% if noti.TopExposeYn %}<i class="ni ni-bell-55 text-yellow"></i>{% endif %}

			</td>
			<td>
				{{noti.CreateDate}}
			</td>
			</tr>
			{%endfor%}
		</tbody>
		</table>
	</div>
	</div>
</div>
{%endif%}
</div>

{% include 'includes/partner_list_card.html' %}

{% call classic_modal('noticeModal', '공지글 보기', is_show_footer=False) %}
    <div id="noticeContent"></div>
{% endcall %}

<script type="text/javascript">
    function noticeOpen(noticeId) {
        $("#noticeModal").modal('show');
        
        $.ajax({
            url: '{{ url_for('homes.get_notice_content') }}',
            type: 'GET',
            data: { channel_notice_id: noticeId },
            success: function(response) {
                var content = response.content;
                var textarea = document.createElement('textarea');
                textarea.value = content;
                textarea.readOnly = true;
                textarea.style.width = '100%';
                textarea.style.height = '300px';
                textarea.style.border = 'none';
                textarea.style.outline = 'none';
                textarea.style.resize = 'none';
                document.getElementById("noticeContent").innerHTML = '';
                document.getElementById("noticeContent").appendChild(textarea);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching notice:", error);
                document.getElementById("noticeContent").innerHTML = "공지를 불러오는 중 오류가 발생했습니다.";
            }
        });
    }
</script>


{% endblock %}



