{% extends "layout.html" %}
{% block title %} 새소식 {% endblock %}

{% block section %}

<div class="row">

    <div class="col-lg-6">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0 text-white">개발이력</h3>
        </div>
        <div class="card-body">
          <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
            <div class="timeline-block">
              <span class="timeline-step badge-success">
                <i class="ni ni-bell-55"></i>
              </span>
              <div class="timeline-content">
                <small class="text-light font-weight-bold">2025-01-10</small>
                <h5 class="text-white mt-3 mb-0">튼튼영어 채널관리 3.0 신규 오픈</h5>
                <p class="text-light text-sm mt-1 mb-0"></p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step badge-danger">
                <i class="ni ni-html5"></i>
              </span>
              <div class="timeline-content">
                <small class="text-light font-weight-bold">2025-02-05</small>
                <h5 class="text-white mt-3 mb-0">사용자 편의 메뉴 추가</h5>
                <p class="text-light text-sm mt-1 mb-0">1. 프로모션 관리</p>
                <p class="text-light text-sm mt-1 mb-0">2. 목표 관리 (사업팀장 이상)</p>
                <p class="text-light text-sm mt-1 mb-0">3. 파트너 사업장 위치 안내</p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step badge-info">
                <i class="ni ni-email-83"></i>
              </span>
              <div class="timeline-content">
                <small class="text-light font-weight-bold">2025-02-24</small>
                <h5 class="text-white mt-3 mb-0">비즈니스 리포트 발송 서비스</h5>
                <p class="text-light text-sm mt-1 mb-0">1. 리포트 및 수신자 관리</p>
                <p class="text-light text-sm mt-1 mb-0">2. 발송 스케줄 관리</p>
                <p class="text-light text-sm mt-1 mb-0">3. 발송 로그 관리</p>
              </div>
            </div>
            <!-- <div class="timeline-block">
              <span class="timeline-step badge-success">
                <i class="ni ni-bell-55"></i>
              </span>
              <div class="timeline-content">
                <small class="text-light font-weight-bold">10:30 AM</small>
                <h5 class="text-white mt-3 mb-0">New message</h5>
                <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="mt-3">
                  <span class="badge badge-pill badge-success">design</span>
                  <span class="badge badge-pill badge-success">system</span>
                  <span class="badge badge-pill badge-success">creative</span>
                </div>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step badge-danger">
                <i class="ni ni-html5"></i>
              </span>
              <div class="timeline-content">
                <small class="text-light font-weight-bold">10:30 AM</small>
                <h5 class="text-white mt-3 mb-0">Product issue</h5>
                <p class="text-light text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <div class="mt-3">
                  <span class="badge badge-pill badge-danger">design</span>
                  <span class="badge badge-pill badge-danger">system</span>
                  <span class="badge badge-pill badge-danger">creative</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}