{% macro item(type='', name='', display_yn='', content='', file_path='', file_name='', extra='') -%}
    {% if not display_yn %}
        <a class="gray"><li>{{name}}</li></a>
    {% else %}
        {% if type=='Vimeo' %}
            <a class="{{extra}} js-modal-vimeo hvr-bounce-in" data-video-id="{{content | stream_code }}" style="cursor : pointer"><li>{{name}}</li></a>
        {% elif type=='YouYube' %}
            <a class="{{extra}} js-modal-youtube hvr-bounce-in" data-video-id="{{content | stream_code }}" style="cursor : pointer"><li>{{name}}</li></a>
        {% elif type=='HTML' %}
            <a class="{{extra}} hvr-bounce-in" href="{{content}}" target="_blank" style="cursor : pointer"><li>{{name}}</li></a>
        {% else %}
            <a class="{{extra}} hvr-bounce-in" href="{{ url_for('file_download', file_path=file_path, file_name=file_name, download_yn=0) }}" target="_blank" style="cursor : pointer"><li>{{name}}</li></a>
        {% endif %}
    {% endif %}
{%- endmacro %}


{% macro image_item(type='', name='', display_yn='', content='', file_path='', file_name='', image_url='') -%}
    {% if not display_yn %}
        <a class="gray abc"><li>{{name}}<img src="{{image_url}}" /></li></a>
    {% else %}
        {% if type=='Vimeo' %}
            <a class="{{extra}} js-modal-vimeo hvr-bounce-in" data-video-id="{{content | stream_code }}" style="cursor : pointer"><li>{{name}}<img src="{{image_url}}" /></li></a>
        {% elif type=='YouYube' %}
            <a class="{{extra}} js-modal-youtube hvr-bounce-in" data-video-id="{{content | stream_code }}" style="cursor : pointer"><li>{{name}}<img src="{{image_url}}" /></li></a>
        {% elif type=='HTML' %}
            <a class="{{extra}} hvr-bounce-in" href="{{content}}" target="_blank" style="cursor : pointer"><li>{{name}}<img src="{{image_url}}" /></li></a>
        {% else %}
            <a class="{{extra}} hvr-bounce-in" href="{{ url_for('file_download', file_path=file_path, file_name=file_name, download_yn=0) }}" target="_blank" style="cursor : pointer"><li>{{name}}<img src="{{image_url}}" /></li></a>
        {% endif %}
    {% endif %}
{%- endmacro %}
