<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <location path="virtual_path">    
        <system.webServer>
            <handlers>
                <remove name="FlaskChannelManagerModule" />
            </handlers>
        </system.webServer>
    </location>
     <location path=".well-known">    
        <system.webServer>
            <handlers>
                <remove name="FlaskChannelManagerModule" />
            </handlers>
        </system.webServer>
    </location>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="FlaskChannelManagerModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python38\python.exe|E:\wwwroot\FlaskChannelManager\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB -->
          </requestFiltering>
        </security>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
