{% extends "layout.html" %}
{% from "macros/form.html" import input %}
{% block title %} 교재 메인 {% endblock %}

{% block section %}

<div class="ecommerce-page">
    <div class="page-header header-small" data-parallax="true" style="background-image: url('{{ product_kind_id | background_url('main_list') }}');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
                    <div class="brand text-muted">
                        <img src="{{ product_kind_id | logo_url }}" style="height:auto; max-width:140px">
                        {% if product_kind_id in (ProductKind.JUNIOR.value, ProductKind.TUTORING.value) %}
                            <h5 class="text-title">
                                {{sub_name}}
                            </h5>
                        {% elif product_kind_id == ProductKind.SPECIAL_CLASS.value %}
                            <h5 class="text-title">스페셜 클래스</h5>
                        {% endif %}
                        <h5 class="text-title-black"><b>{{ product_kind_id | product_comment | safe }}</b></h5>
                    </div>

                    {% if product_kind_id in (ProductKind.BABY_LEAGUE.value, ProductKind.JUNIOR.value, ProductKind.TUTORING.value, ProductKind.SPECIAL_CLASS.value) and session.login_user and session.login_user.manager_yn %}
                        <div class="brand text-muted">
                            <ul class="nav nav-pills nav-pills-github" style="display: inline-block">
                              <li class="active"><a data-toggle="tab">수업연구</a></li>
                              <li><a href="{{ url_for('boards.board_list', product_kind_id=product_kind_id, board_kind_id=105) }}">자료실</a></li>
                            </ul>
                        </div>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>

    <div class="main" style="background-color: #f5f5f5;">
        <div class="section">
            <div class="container">
                <a href="{{ url_for('homes.index') }}">메인</a> > 교재 그룹

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-6 col-md-offset-3">
                            <form method="GET" action="{{ url_for('products.title_search_list', product_kind_id=product_kind_id) }}" class="form-horizontal">
                                <div class="form-group form-file-upload">
                                    <div class="input-group text-center">
                                        {{ input('text', 'search_text', search_text, min=3, max=20, opt="required autofocus", placeholder='교재 제목 검색') }}
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-just-icon btn-round btn-warning">
                                                <i class="material-icons">search</i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="text-center">-->
<!--                            <button type="button" class="btn btn-warning btn-sm" onclick="javascript:history.back()">-->
<!--                                전체보기-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-github btn-sm" onclick="javascript:history.back()">-->
<!--                                Listening-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-github btn-sm" onclick="javascript:history.back()">-->
<!--                                Speaking-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-github btn-sm" onclick="javascript:history.back()">-->
<!--                                Immersion-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row card-container-sm" style="display: flex; flex-wrap: wrap;">
                    {% for res in res_list %}
                        <div class="{% if product_kind_id != 3 %}col-lg-2{% endif %} col-md-3 col-sm-6">
                            <div class="card card-profile main-list-card" style="margin-bottom: 0px;">
                                {% if res.ContentGroupID == 73 %}
                                    <a href="{{ url_for('products.content_list', product_kind_id=res.ProductKindID, content_title_id=488) }}">
                                        <div class="card-body">
                                            <img src="{{res.ContentGroupImageURL | new_image_url}}" />
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('products.title_list', product_kind_id=res.ProductKindID, content_group_id=res.ContentGroupID) }}">
                                        <div class="card-body">
                                            <img src="{{res.ContentGroupImageURL | new_image_url}}" />
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-github btn-round" onclick="javascript:history.back()">
                        <i class="material-icons">arrow_back</i> 뒤로가기
                    </button>
                </div>
            </div>
        </div> <!-- section end -->
	</div>
</div>

{% endblock %}

