{% extends "layout_admin.html" %}
{% block title %} 새소식 {% endblock %}

{% block main_section %}

<div class="content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">개발 히스토리</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-content">
                        <ul class="timeline">
<!--                            <li class="timeline-inverted">-->
<!--                                <div class="timeline-badge danger">-->
<!--                                    <i class="material-icons">card_travel</i>-->
<!--                                </div>-->
<!--                                <div class="timeline-panel">-->
<!--                                    <div class="timeline-heading">-->
<!--                                        <span class="label label-danger">Some Title</span>-->
<!--                                    </div>-->
<!--                                    <div class="timeline-body">-->
<!--                                        <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!!   It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>-->
<!--                                    </div>-->
<!--                                    <h6>-->
<!--                                        <i class="ti-time"></i>-->
<!--                                        11 hours ago via Twitter-->
<!--                                    </h6>-->
<!--                              </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="timeline-badge success">-->
<!--                                    <i class="material-icons">music_note</i>-->
<!--                                </div>-->
<!--                                <div class="timeline-panel">-->
<!--                                    <div class="timeline-heading">-->
<!--                                      <span class="label label-success">ver 3.2 (2024-09-01)</span>-->
<!--                                    </div>-->
<!--                                    <div class="timeline-body">-->
<!--                                        <p>튼튼플레이어 음원서비스 오픈 (준비중)</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->

                            <li class="timeline-inverted">
                                <div class="timeline-badge info">
                                    <i class="material-icons">new_releases</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="label label-info">ver 3.1 (2024-08-07)</span>
                                    </div>
                                    <div class="timeline-body">
                                        <p>팝업공지관리 오픈</p>
                                        <p>교재그룹 영상모음관리 오픈</p>
                                        <p>연결교재관리 오픈</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline-badge danger">
                                    <i class="material-icons">flight_takeoff</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <span class="label label-danger">ver 3.0 (2024-05-16)</span>
                                    </div>
                                    <div class="timeline-body">
                                        <p>튼튼플레이어 3.0 신규 개편</p>
                                        <p> &nbsp;- 비메오 영상 링크 관리</p>
                                        <p> &nbsp;- 스토리북 첨부파일 관리 </p>
                                        <p> &nbsp;- 스토리북 화상수업 슬라이드 관리 </p>
                                        <p> &nbsp;- 멀티 게시판 관리 등 </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}