<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="virtual_path">
        <system.webServer>
            <handlers>
                <remove name="FlaskTuntunPlayerModule" />
            </handlers>
        </system.webServer>
    </location>
    <system.webServer>
    	<directoryBrowse enabled="true" />
        <handlers>
            <add name="FlaskTuntunPlayerModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python38\python.exe|E:\wwwroot\FlaskTuntunPlayer\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB -->
          </requestFiltering>
        </security>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>

