{% extends "layout.html" %}
{% block title %} 이용약관 (교사용) {% endblock %}

{% block section %}


<div class="product-page">
	<div class="page-header" data-parallax="true" style="background-image: url('/static/images/main/main_anyone.png');">
	    <div class="container">
	    </div>
	</div>

    <div class="section section-gray">
        <div class="container">
            <div class="main main-raised main-product">
                <div class="row title-row">
                    <div class="col-md-12">
                        <a class="btn {{'btn-rose' if request.path == url_for('homes.term') else 'btn-white'}}" href="{{url_for('homes.term')}}">회원용</a>
                        <a class="btn {{'btn-rose' if request.path == url_for('homes.term_teacher') else 'btn-white'}}" href="{{url_for('homes.term_teacher')}}">교사용</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="related-products">
                            <div class="title text-center">
                                <h3><strong>이용 약관 (교사용)</strong></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title-uppercase">제1조 [목적]</h4>
                                    <p>이 약관은 튼튼영어(이하 "회사"라고 함)가 제공하는 “콘텐츠” 및 이와 관련된 제반서비스의 이용에 있어서 “회사”와 “이용자”의 권리, 의무 및 책임 등에 관한 사항을 규정하는 것을 목적으로 합니다.</p>
                                    <h4 class="title-uppercase">제2조 [정의]</h4>
                                    <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                                    <p>1. “회사”라 함은 “콘텐츠”와 관련된 경제활동을 영위하는 자로서 “이용자”에게 “콘텐츠” 및 제반서비스를 제공하는 자를 말합니다.</p>
                                    <p>2. “이용자”라 함은 이 약관에 따라 “회사”가 제공하는 “콘텐츠” 및 제반서비스를 이용하는 “회원” 을 말합니다.</p>
                                    <p>3. “회원”이라 함은 “회사”가 운영하는 판매대리점계약 또는 가맹계약을 체결한 사업자(해당 사업자 구성원포함)로서 “아이디(ID)”를 부여받아 “회사”가 제공하는 “콘텐츠” 및 제반서비스를 이용할 수 있는 자를 말합니다.</p>
                                    <p>4. “콘텐츠”라 함은 부호ㆍ문자ㆍ도형ㆍ색채ㆍ음성ㆍ음향ㆍ이미지ㆍ영상 등(이들의 복합체를 포함한다)의 정보나 자료를 말합니다.</p>
                                    <p>5. “아이디(ID)”라 함은 “회원”의 식별과 “콘텐츠” 및 제반서비스의 이용을 위하여 “회원”이 정하고, “회사”가 승인하는 문자 또는 숫자의 조합을 말합니다.</p>
                                    <p>6. “비밀번호(PASSWORD)”라 함은 “회원”임을 확인하고, 비밀보호를 위해 “회원”에게 부여된 “아이디”와 일치되는 “회원” 자신이 정한 문자 또는 숫자의 조합을 말합니다.</p>
                                    <h4 class="title-uppercase">제3조 [회사정보 등의 제공]</h4>
                                    <p>① “회사”는 “이용자”가 쉽게 알 수 있도록 다음 각 호의 사항을 사이버몰 초기화면에 게시합니다.</p>
                                    <p>1. 대표자의 성명 및 상호</p>
                                    <p>2. 영업소 소재지 주소(이용자의 불만을 처리할 수 있는 곳의 주소를 포함한다) 및 전자우편주소</p>
                                    <p>3. 전화번호, 모사전송번호(Fax 번호)</p>
                                    <p>4. 사업자등록번호, 통신판매업 신고번호</p>
                                    <p>5. 사이트의 이용약관</p>
                                    <p>6. 호스팅서비스를 제공하는 자의 상호</p>
                                    <p>7. 개인정보취급방침</p>
                                    <p>8. 개인정보관리책임자의 성명 및 전화번호 등의 연락처</p>
                                    <p>② 출력에 제한이 있는 이동통신단말기 등을 이용하여 거래하는 “회사”는 제1항 각호의 사항이 사이버몰의 화면에 순차적으로 나타나도록 할 수 있습니다. 이 경우 대표자성명ㆍ팩스번호ㆍ사업자등록번호ㆍ통신판매업 신고번호 및 사이버몰의 이용약관은 그 내용을 확인할 수 있는 방법을 화면에 나타나게 하는 것으로 대신할 수 있습니다.</p>
                                    <h4 class="title-uppercase">제4조 [약관의 게시 등]</h4>
                                    <p>① “회사”는 “이용자”에게 이 약관을 제시하여 동의를 받으며, 사이버몰의 초기화면에 이 약관을 게시합니다. 이 경우 제3조 제2항을 준용합니다.</p>
                                    <p>② “회사”는 “이용자”가 동의하기 전에 약관에 정하여져 있는 내용 중 회원자격의 제한 및 상실, 청약철회, 과오금의 환불, 이용제한, 해제ㆍ해지, 이용자에 대한 피해보상 등과 같은 중요한 내용을 이용자가 쉽게 알 수 있도록 굵고 큰 글씨 등으로 표시하고, “이용자”가 그 내용을 쉽게 알 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 설명합니다.</p>
                                    <p>③ “회사”는 “이용자”가 언제든지 이 약관을 인쇄하거나 다운로드할 수 있는 조치를 취합니다.</p>
                                    <p>④ “회사”는 제1항부터 제3항까지를 위반한 경우 이 약관의 전부 또는 일부를 계약의 내용으로 주장하지 못 합니다.</p>
                                    <h4 class="title-uppercase">제5조 [약관의 변경 등]</h4>
                                    <p>① “회사”는 「콘텐츠산업진흥법」, 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 문화체육관광부장관이 정하는 「콘텐츠 이용자보호지침」, 기타 관계법령 또는 상관습에 위배하지 않는 범위에서 이 약관을 변경할 수 있습니다.</p>
                                    <p>② “회사”가 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 현행약관과 함께 사이버몰 초기화면에 그 적용일자 10일(“이용자”에게 불리한 변경 또는 중대한 사항의 변경은 30일) 이전부터 적용일자 이후 상당한 기간동안 공지하고, 기존 “회원”에게는 변경될 약관, 적용일자 및 변경사유(중요내용에 대한 변경인 경우 이에 대한 설명을 포함)를 전자우편주소로 발송합니다.</p>
                                    <p>③ “회사”가 약관을 변경할 경우에는 변경약관을 공지한 후 10일(“이용자”에게 불리한 변경 또는 중대한 사항의 변경은 30일) 동안 변경약관의 적용에 대한 “이용자”의 동의 여부를 확인합니다.</p>
                                    <p>④ “회사”는 제3항의 기간 동안 【“이용자”가 거절의 의사표시를 하지 않으면 동의한 것으로 간주하겠다】는 내용을 별도로 고지하였음에도 불구하고 “이용자”가 이 기간 내에 거절의사를 표시하지 않았을 경우 변경약관에 동의한 것으로 간주할 수 있습니다.</p>
                                    <p>⑤ “이용자”가 변경약관의 적용을 거절한 경우 “회사”는 변경전 약관에 따른 서비스 제공이 기술적, 영업적으로 가능한 때에 변경전 약관에 따라 서비스를 제공합니다. 다만, 변경전 약관에 따라 서비스를 제공하는 것이 기술적, 영업적으로 곤란한 경우 “회사”는 “이용자”의 손해를 배상하고, 콘텐츠 이용계약을 해지할 수 있습니다.</p>
                                    <p>⑥ “이용자”가 변경약관을 거절한 경우 또는 제4항에 따라 동의한 것으로 간주되는 경우 “이용자”는 “콘텐츠” 이용계약을 해지할 수 있습니다.</p>
                                    <h4 class="title-uppercase">제6조 [약관의 해석]</h4>
                                    <p>이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는「콘텐츠산업진흥법」, 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 문화체육관광부장관이 정하는 「콘텐츠 이용자보호지침」, 기타 관계법령 및 상관습에 따릅니다.</p>
                                    <h4 class="title-uppercase">제7조 [회원가입]</h4>
                                    <p>① 회원가입은 “이용자”가 이 약관에 대하여 동의를 하고, 회원가입신청을 한 후 “회사”가 이 신청에 대하여 승낙함으로써 이루어집니다.</p>
                                    <p>② “이용자”는 회원가입신청서에 다음 사항을 기재해야 합니다. 제1호부터 제3호까지의 사항은 필수사항이며, 그 외의 사항은 선택사항입니다.</p>
                                    <p>1. “이용자”의 성명</p>
                                    <p>2. “아이디”(전자우편주소)와 “비밀번호”</p>
                                    <p>3. 기타 “회사”가 필요하다고 인정하는 사항</p>
                                    <p>③ “회사”는 “이용자”의 회원가입신청시 주민등록번호를 제외한 다음 각호의 어느 하나의 방법에 따라 본인 여부를 확인합니다.</p>
                                    <p>1. 공인인증서</p>
                                    <p>2. I-Pin</p>
                                    <p>3. 휴대폰인증</p>
                                    <p>4. 튼튼영어대리점/가맹점 소속 등록번호: 교사코드 등</p>
                                    <p>④ “회사”는 제1항부터 제3항까지의 “이용자”의 회원가입신청에 대하여 승낙함을 원칙으로 합니다. 다만, “회사”는 다음 각 호의 어느 하나에 해당하는 사유가 있는 경우 “이용자”의 회원가입신청에 대하여 거절할 수 있습니다.</p>
                                    <p>1. 가입신청자가 이 약관에서 금지하고 있는 행위를 하여 회원자격을 상실한 적이 있는 경우</p>
                                    <p>2. 실명이 아니거나 타인의 명의를 이용한 경우</p>
                                    <p>3. 허위의 정보를 기재하거나, 제2항 제1호부터 제3호까지의 사항을 기재하지 않은 경우</p>
                                    <p>4. “이용자”의 고의 또는 과실로 인하여 승낙이 불가능하거나 기타 회사의 규정을 위반하여 신청한 경우</p>
                                    <p>5. 법령에서 “콘텐츠”이용등급을 정하고 있고, 이용가능연령에 달하지 않은 “이용자”가 이용신청을 한 경우</p>
                                    <p>⑤ “회사”는 서비스 관련 설비의 여유가 없거나 기술상 또는 업무상 문제가 있는 경우에는 가입신청의 승낙을 유보하거나 거절할 수 있습니다.</p>
                                    <p>⑥ 제4항 또는 제5항에 따라 회원가입 신청에 대하여 유보하거나 거절한 경우 “회사”는 이를 신청자에게 즉시 알려야 합니다. 다만, “회사”가 고의 또는 과실없이 신청자에게 통지할 수 없는 경우에는 그러하지 않습니다.</p>
                                    <p>⑦ 회원가입계약은 “회사”의 승낙이 “이용자”에게 도달한 시점에 성립합니다.</p>
                                    <h4 class="title-uppercase">제8조 [회원정보의 변경]</h4>
                                    <p>① “회원”은 개인정보관리화면을 통하여 언제든지 자신의 개인정보를 열람하고, 수정할 수 있습니다.</p>
                                    <p>② “회원”은 회원가입신청시 기재한 사항이 변경되었을 경우 직접 수정하거나 전자우편 기타 방법으로 “회사”에 대하여 그 변경사항을 알려야 합니다.</p>
                                    <p>③ “회사”는 제2항에 따라 “회원”으로부터 변경사항을 통지받은 경우 지체없이 이에 따라 개인정보를 변경합니다.</p>
                                    <p>④ “회사”가 제3항에 따라 변경하지 않음으로 인하여 발생한 “회원”의 손해에 대하여 배상합니다. 다만, “회사”가 고의 또는 과실 없음을 증명한 경우에는 그러하지 않습니다.</p>
                                    <p>⑤ “회사”는 “회원”이 제2항에 따라 수정하지 않거나 이의 변경사항을 “회사”에 알리지 않아 발생한 불이익에 대하여 책임을 지지 않습니다.</p>
                                    <h4 class="title-uppercase">제9조 [“회원”의 “아이디” 및 “비밀번호”의 관리에 대한 의무]</h4>
                                    <p>① “회원”의 “아이디”와 “비밀번호”에 관한 관리책임은 “회원”에게 있으며, 제3자가 이를 이용하도록 하여서는 안 됩니다. 본 조항을 위반하여 “회원”이 고의 또는 악의적으로 제3자가 “회원”의 아이디를 이용하게 하여 “회사”에 손해가 발생하는 경우 “회원”은 그로 인한 손해를 배상하여야 합니다.</p>
                                    <p>② “회원”은 “아이디” 및 “비밀번호”가 도용되거나 제3자에 의해 사용되고 있음을 안 경우에는 이를 즉시 “회사”에 통지하고, “회사”의 안내에 따라야 합니다.</p>
                                    <p>③ 제2항의 경우에 해당 “회원”이 “회사”에 그 사실을 통지하지 않거나, 통지한 경우에도 “회사”의 안내에 따르지 않아 발생한 불이익에 대하여 “회사”는 책임을 지지 않습니다.</p>
                                    <h4 class="title-uppercase">제10조 [“회원”에 대한 통지]</h4>
                                    <p>① “회사”가 “회원”에게 통지를 하는 경우 “회원”이 지정한 전자우편주소 등으로 합니다.</p>
                                    <p>② “회사”는 “회원” 전체에게 통지를 하는 경우 10일 이상의 기간 동안 “회사” 사이트의 초기화면에 게시하거나 팝업화면 등을 제시함으로써 제1항의 통지에 갈음할 수 있습니다. 다만, 제5조에 따른 약관의 변경 또는 “회원” 본인과 관련된 중요한 사항에 대하여는 제1항에서 정한 통지를 합니다.</p>
                                    <h4 class="title-uppercase">제11조 [회원탈퇴 및 자격 상실 등]</h4>
                                    <p>① “회원”은 “회사”에 언제든지 탈퇴를 요청할 수 있으며, “회사”는 즉시 회원탈퇴를 처리합니다.</p>
                                    <p>② “회원”이 다음 각 호의 사유에 해당하는 경우, “회사”는 회원자격을 일시적으로 제한 또는 정지시킬 수 있습니다. 이 경우 “회사”는 “이용자”에게 해당 사유를 통지합니다.</p>
                                    <p>1. “회원”가입 또는 “콘텐츠”이용 신청 또는 변경시 허위내용의 기재</p>
                                    <p>2. 타인의 개인정보도용</p>
                                    <p>3. “회사” 또는 제3자가 게시한 정보의 변경</p>
                                    <p>4. “회사”가 금지한 정보(컴퓨터 프로그램 등)의 사용, 송신 또는 게시</p>
                                    <p>5. “회사” 또는 제3자의 저작권 등 지식재산권에 대한 침해</p>
                                    <p>6. “회사” 또는 제3자의 명예를 손상시키거나 업무를 방해하는 행위</p>
                                    <p>7. 외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 “회사”의 사이트에 공개 또는 게시하는 행위</p>
                                    <p>8. 회사의 기술적 보호조치를 회피 혹은 무력화하는 행위</p>
                                    <p>9. 본 이용약관 제2조 제3호에 정의된 회원의 자격을 상실한 경우</p>
                                    <p>10. 기타 관계 법령에서 금지하는 행위 또는 공서양속에 반하는 행위</p>
                                    <p>③ “회원”자격이 제한 또는 정지되었던 “회원”이 제2항 각호에서 금지한 행위를 반복하거나 그 “회원”에게 시정을 요구하였음에도 불구하고 30일 이내에 그 사유가 시정되지 않은 경우 “회사”는 회원자격을 상실시킬 수 있습니다. 다만, “회원”자격이 제한 또는 정지된 후 6월이 경과한 경우에는 위반행위의 반복으로 인정하지 않습니다.</p>
                                    <p>④ “회사”가 제3항에 따라 “회원”자격을 상실시킨 경우 당해 “회원”에게 이의 사실과 사유를 통지합니다. 다만, 당해 “회원”이 이의 통지를 받은 날로부터 30일 이내에 소명하고, 그 내용이 정당한 경우 “회사”는 즉시 “회원”의 자격을 복구합니다.</p>
                                    <p>⑤ “회사”는 “회원”이 탈퇴하거나 회원자격을 상실하는 경우 “회원”의 개인정보를 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관계법령에서 정한 범위와 절차에 따라 파기합니다.</p>
                                    <h4 class="title-uppercase">제12조 [개인정보보호]</h4>
                                    <p>① “회사”는 제7조 제2항의 신청서기재사항 이외에 “이용자”의 “콘텐츠” 이용에 필요한 최소한의 정보를 “이용자”의 동의를 얻어 수집할 수 있습니다.</p>
                                    <p>② “회사”가 “이용자”의 개인정보를 이용하려고 수집하는 때에는 다음 각 호의 모든 사항에 대하여 “이용자”에게 알려야 합니다. 다음 각 호의 어느 하나의 사항을 변경하려는 경우에도 이용자에게 통지합니다.</p>
                                    <p>1. 개인정보의 수집․이용목적</p>
                                    <p>2. 수집하는 개인정보의 항목</p>
                                    <p>3. 개인정보의 보유 및 이용기간</p>
                                    <p>4. 개인정보취급방침</p>
                                    <p>5. 개인정보관리책임자의 신원(소속, 성명 및 전화번호 기타 연락처)</p>
                                    <p>③ “회사”는 “이용자”의 개인정보를 제3자에게 제공할 경우 다음 각 호의 사항을 “이용자”에게 알리고 동의를 받습니다. 다음 각 호의 어느 하나의 사항을 변경하려는 경우에도 “이용자”의 동의를 받습니다.</p>
                                    <p>1. 개인정보를 제공받는 자의 신원[성명(법인인 경우 대표자의 성명을 포함), 주소, 전화번호 등]</p>
                                    <p>2. 제공받는 자의 개인정보 이용목적</p>
                                    <p>3. 제공하는 개인정보의 항목</p>
                                    <p>4. 개인정보를 제공받는 자의 개인정보 보유 및 이용기간</p>
                                    <p>④ “회사”는 “이용자”가 이용신청 등에서 제공한 정보와 제1항에 의하여 수집한 정보를 당해 “이용자”의 동의 없이 목적 외로 이용하거나 제3자에게 제공할 수 없으며, 이를 위반한 경우에 모든 책임은 “회사”가 집니다. 다만, 다음 각 호의 어느 하나에 해당하는 경우에는 그러하지 않습니다.</p>
                                    <p>1. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</p>
                                    <p>2. “콘텐츠” 이용에 관한 계약을 이행하기 위하여 필요한 개인정보로서 경제적ㆍ기술적인 사유로 통상적인 동의를 받는 것이 명확하게 곤란한 경우</p>
                                    <p>3. 도용방지를 위하여 본인확인에 필요한 경우</p>
                                    <p>4. 법령에 의한 경우</p>
                                    <p>⑤ “이용자”는 언제든지 제1항 또는 제3항의 동의를 철회할 수 있습니다.</p>
                                    <p>⑥ “이용자”는 언제든지 “회사”가 가지고 있는 자신에 관한 개인정보, “회사”가 자신의 개인정보를 이용하거나 제3자에게 제공한 현황, “회사”에게 개인정보 수집ㆍ이용ㆍ제공 등의 동의를 한 현황에 대한 열람이나 제공을 요구할 수 있고 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. “회사”는 “이용자”로부터 오류의 정정을 요구받으면 지체없이 그 오류를 정정하거나 정정하지 못하는 사유를 “이용자”에게 알리는 등 필요한 조치를 하고, 필요한 조치를 할 때까지는 해당 개인정보를 이용하거나 제공하지 않습니다.</p>
                                    <p>⑦ “회사”는 개인정보보호를 위하여 최소한의 관리자를 지정하며, 신용카드, 은행계좌 등을 포함한 “이용자”의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 “이용자”의 손해에 대하여 배상합니다. 다만, “회사”가 고의 또는 과실 없음을 증명한 경우에는 그러하지 않습니다.</p>
                                    <p>⑧ “회사” 또는 그로부터 개인정보를 제공받은 자는 “이용자”가 동의한 범위 내에서 개인정보를 사용할 수 있으며, 목적이 달성된 경우에는 당해 개인정보를 지체 없이 파기합니다.</p>
                                    <p>⑨ “회사”는 「개인정보보호법」, 「정보통신망이용촉진 및 정보보호에 관한 법률」 등 관계 법령이 정하는 바에 따라 “이용자”의 개인정보를 보호합니다.</p>
                                    <h4 class="title-uppercase">제13조 [“콘텐츠” 등에 관한 정보제공 및 이용계약의 성립 등]</h4>
                                    <p>① “회사”는 “콘텐츠” 이용계약을 체결하기 전에 “이용자”가 “콘텐츠” 등에 관하여 정확하게 이해하고, 실수 또는 착오 없이 거래할 수 있도록 각 호에서 규정한 사항을 제공합니다.</p>
                                    <p>1. “회사”의 대표자의 성명 및 상호</p>
                                    <p>2. “회사”의 주소, 전화번호(또는 이동전화번호) 모사전송번호 및 전자우편주소 등</p>
                                    <p>3. “콘텐츠” 제작자의 성명(법인인 경우에는 법인의 명칭), 주소 및 전화번호</p>
                                    <p>4. “콘텐츠”의 명칭 및 내용</p>
                                    <p>5. “콘텐츠”의 이용에 있어서 이용제한연령등급이 있는 경우 그 등급</p>
                                    <p>6. “콘텐츠”의 이용기간</p>
                                    <p>7. “콘텐츠”의 대금(가격이 결정되어 있지 아니한 경우에는 그 결정의 구체적인 방법), 지급방법 및 지급시기</p>
                                    <p>8. “콘텐츠”의 제공 방법 및 시기</p>
                                    <p>9. “콘텐츠” 이용약관(사이버몰의 경우 초기화면에 “이용자”가 연결화면을 통하여 약관을 볼 수 있도록 조치할 수 있으며, 출력에 제한이 있는 이동통신단말기 등을 이용하여 거래하는 “회사”는 “이용자”가 약관의 내용을 확인할 수 있는 방법을 화면에 나타나게 할 수 있습니다)</p>
                                    <p>10. “콘텐츠”의 이용에 필요한 최소한의 기술사양에 관한 사항으로 다음 각 목에서 정한 사항. 다만, “콘텐츠”의 특성상 이러한 정보가 불필요한 경우에는 그러하지 않습니다. 가. 컴퓨터 등 정보처리장치의 중앙처리장치(CPU) 속도 나. 운영체제(OS) 등 시스템 소프트웨 어(SW) 사양 다. “콘텐츠” 이용에 필수적인 소프트웨어(SW) 라. 램(RAM) 용량 마. 하드드라이브 등 콘텐츠 저장장치의 유효용량 바. 화소 등 화면 사양 사. 기타 “콘텐츠” 이용에 필수적인 하드웨어 장치 아. 정보통신망 필수 전송속도 및 콘텐츠 전송량 자. 기술적 보호조치(DRM)에 관한 사항 차. 모바일“콘텐츠”의 경우 모바일“콘텐츠”의 이용에 적합한 모바일 기기의 종류 등에 관한 정보</p>
                                    <p>11. “이용자”의 피해보상, “콘텐츠”에 대한 불만 및 “이용자”와 “회사”간 분쟁처리에 관한 사항</p>
                                    <p>12. “콘텐츠”의 가격 이외에 교환ㆍ반품비용 등 “이용자”가 추가로 부담하여야 할 사항이 있는 경우 그 내용 및 금액</p>
                                    <p>13. 기타 “콘텐츠” 이용계약의 체결과 관련하여 필요한 사항</p>
                                    <p>② “회사”는 “이용자”가 “콘텐츠” 이용계약에 대한 신청을 완료하기 전에 그 내용을 확인 및 정정할 수 있는 절차를 제공합니다.</p>
                                    <p>③ “회사”는 “이용자”의 이용신청이 다음 각 호의 어느 하나에 해당하는 경우 이용신청에 대하여 거절하거나 승낙을 유보할 수 있습니다. 다만, “회사”는 제1호부터 제3호까지에 해당하는 “이용자”의 이용신청에 대하여 거절합니다.</p>
                                    <p>1. 실명이 아니거나 타인의 명의를 이용한 경우</p>
                                    <p>2. 허위의 정보를 기재하거나, “회사”가 제시하는 내용을 기재하지 않은 경우</p>
                                    <p>3. 이용제한연령등급이 있는 “콘텐츠”에 대하여 해당 연령에 달하지 못한 “이용자”가 이용 신청을 한 경우</p>
                                    <p>4. 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우</p>
                                    <p>④ “회사”의 승낙이 “이용자”에게 도달한 시점에 “콘텐츠” 이용계약은 성립합니다.</p>
                                    <p>⑤ “회사”는 “이용자”의 “콘텐츠” 이용계약에 관한 신청에 대하여 승낙한 경우 지체없이 제1항 각 호의 사항이 모두 기재된 계약서 1부를 교부합니다.</p>
                                    <h4 class="title-uppercase">제14조 [수신확인통지․이용신청 변경 및 취소]</h4>
                                    <p>“회사”는 “이용자”의 “콘텐츠”에 대한 이용신청이 있는 경우 “이용자”에게 수신여부와 “콘텐츠”의 제공 가능여부에 대하여 통지를 합니다.</p>
                                    <h4 class="title-uppercase">제15조 [“회사”의 의무]</h4>
                                    <p>① “회사”는 법령과 이 약관이 정하는 권리의 행사와 의무의 이행을 신의에 좇아 성실히 합니다.</p>
                                    <p>② “회사”는 “이용자”가 안전하게 “콘텐츠”를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위한 보안시스템을 갖추어야 하며, 개인정보보호정책을 공시하고, 준수합니다.</p>
                                    <p>③ “회사”는 “이용자”가 “콘텐츠” 이용 및 그 대금결제내역을 언제든지 확인할 수 있도록 조치합니다.</p>
                                    <p>④ “회사”는 “콘텐츠” 또는 제반서비스의 이용과 관련하여 “이용자”로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 지체없이 처리하며, 게시판을 활용하거나 전자우편 등을 통하여 그 처리과정 및 결과를 “이용자”에게 통지합니다.</p>
                                    <p>⑤ “회사”는 이 약관에서 정한 의무를 위반함으로써 “이용자”에게 입힌 손해를 배상합니다. 다만, “회사”가 고의 또는 과실 없음을 증명한 경우에는 그러하지 않습니다.</p>
                                    <h4 class="title-uppercase">제16조 [“이용자”의 의무]</h4>
                                    <p>① “이용자”는 제12조 제2항 각호에서 정한 행위를 하여서는 안 됩니다.</p>
                                    <p>② “이용자”는 이 약관의 규정, 이용안내 및 “회사”가 “콘텐츠” 이용과 관련하여 공지한 주의사항 또는 고지사항 등을 준수하여야 합니다.</p>
                                    <h4 class="title-uppercase">제17조 [“콘텐츠”의 제공 및 중단]</h4>
                                    <p>① “회사”는 “콘텐츠” 이용계약에 따라 “이용자”가 “콘텐츠”를 이용할 수 있도록 연중무휴, 1일 24시간 동안 필요한 서비스를 제공하는 것을 원칙으로 합니다.</p>
                                    <p>② “회사”는 “콘텐츠”를 일정 영역으로 나누어 각 영역별로 이용 가능시간을 별도로 정할 수 있으며, 이 경우 사전에 공지를 통해 “이용자”에게 그 사실을 알립니다.</p>
                                    <p>③ “회사”는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 “콘텐츠”의 이용을 일시적으로 중단할 수 있습니다. 이 경우 “회사”는 제10조에서 정한 방법으로 “이용자”에게 통지합니다. 다만, “회사”가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.</p>
                                    <p>④ “회사”는 “콘텐츠”의 이용이 일시적으로 중단됨으로 인하여 “이용자”가 입은 손해에 대하여 배상 또는 보상합니다. 다만, “회사”가 고의 또는 과실 없음을 증명한 경우에는 그러하지 않습니다.</p>
                                    <p>⑤ “회사”는 “콘텐츠”의 이용에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검을 실시하기 24시간 이전에 제10조에서 정한 방법으로 이용자에게 통지합니다. 이 경우 정기점검시간은 제10조에서 정한 방법에 따라 통지한 시간으로 합니다.</p>
                                    <p>⑥ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 “콘텐츠”를 제공할 수 없게 되는 경우에 “회사”는 제10조에서 정한 방법으로 “이용자”에게 통지하고, “회사”가 정한 바에 따라 “이용자”에게 보상합니다. 다만, “회사”가 보상기준 등을 고지하지 아니하거나, 고지한 보상기준이 적절하지 않은 경우에는 「콘텐츠이용자보호지침」에 따라 “이용자”에게 보상합니다.</p>
                                    <p>⑦ 본 “콘텐츠”는 제2조 제3호의 “회원”의 자격을 유지하는 동안(“회사”가 운영하는 판매대리점계약 또는 가맹계약을 체결한 사업자 및 해당 사업자의 구성원) 제공됩니다. 단, "회사"의 정책 및 운영의 필요상 변경, 중단될 수 있습니다.</p>
                                    <h4 class="title-uppercase">제18조 [“콘텐츠” 이용조건 등의 변경]</h4>
                                    <p>① “회사”는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 “콘텐츠” 이용조건 등을 변경할 수 있습니다.</p>
                                    <p>② “회사”는 “콘텐츠”의 내용, 이용방법, 이용시간 등을 변경할 경우에 변경사유, 변경될 “콘텐츠”의 내용 및 제공일자 등을 그 변경 전 10일(중대하거나 이용자에게 불리한 경우는 30일) 이상 사이트몰의 초기화면 또는 해당 “콘텐츠” 이용초기화면에 게시합니다.</p>
                                    <p>③ “회사”는 제1항 또는 제2항 단서에 따라 “이용자”가 수신을 거절한 경우 정보 또는 광고를 “이용자”의 전자우편주소 등으로 전송하지 않습니다. 다만, 제5조 제2항, 제10조, 제11조 제4항, 제12조 제2항, 제3항, 제4항, 제15조 제4항, 제17조 제2항, 제3항ㆍ제5항ㆍ제6항, 제18제3항, 제20조 제2항, 제22조 제3항, 제24조 제2항 및 기타 “이용자”의 “콘텐츠”이용과 관련하여 불가피한경우 “회사”는 제1항 단서에 따른 수신거절에도 불구하고 “이용자”의 전자우편주소로 관련 정보를 전송할 수 있습니다.</p>
                                    <p>④ “회사”는 제1항에 의한 “콘텐츠” 이용조건 등의 변경 및 제3항에 의한 계약의 해지로 인하여 “이용자”가 입은 손해에 대하여 배상합니다. 다만, “회사”가 고의 또는 과실 없음을 증명한 경우에는 그러하지 않습니다.</p>
                                    <h4 class="title-uppercase">제19조 [정보의 제공 및 광고의 전송]</h4>
                                    <p>① “회사”는 “이용자”가 “콘텐츠” 이용과 관련하여 필요한 정보를 공지사항이나 전자우편 등의 방법으로 “이용자”에게 제공할 수 있습니다. 다만, “이용자”는 언제든지 전자우편 등을 통하여 수신을 거절할 수 있습니다.</p>
                                    <p>② “회사”는 “콘텐츠” 제공과 관련하여 “콘텐츠” 이용초기화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 다만, 광고가 게재된 전자우편 등을 수신한 “이용자”는 언제든지 전자우편 등을 통하여 “회사”에게 수신거절을 할 수 있습니다.</p>
                                    <p>③ “회사”는 제1항 또는 제2항 단서에 따라 “이용자”가 수신을 거절한 경우 정보 또는 광고를 “이용자”의 전자우편주소 등으로 전송하지 않습니다. 다만, 제5조 제2항, 제11조, 제12조 제4항, 제13조 제2항, 제3항, 제6항, 제14조 제4항, 제5항, 제15조 제3항, 제16조 제1항, 제17조 제2항, 제18조 제1항, 제20조, 제22조 제1항, 제23조 제4항, 제25조 제2항, 제3항ㆍ제5항ㆍ제6항, 제26조 제3항, 제28조 제2항, 제30조 제6항, 제31조 제7항, 제34조 제3항, 제38조 제5항, 제39조 제2항, 제40조 제2항 및 기타 “이용자”의 “콘텐츠”이용과 관련하여 불가피한경우 “회사”는 제1항 단서에 따른 수신거절에도 불구하고 “이용자”의 전자우편주소로 관련 정보를 전송할 수 있습니다.</p>
                                    <p>④ “회사”가 제2항의 광고를 전화 및 모사전송기기에 의하여 “이용자”에게 전송하기 위하여는 “이용자”의 사전 동의를 받습니다.</p>
                                    <h4 class="title-uppercase">제20조 [게시물의 삭제]</h4>
                                    <p>① “회사”는 게시판에 「정보통신망이용촉진 및 정보보호 등에 관한 법률」을 위반한 청소년유해매체물이 게시되어 있는 경우에는 이를 지체없이 삭제합니다.</p>
                                    <p>② “회사”가 운영하는 게시판 등에 게시된 정보로 인하여 법률상 이익이 침해된 자는 “회사”에게 당해 정보의 삭제 또는 반박내용의 게재를 요청할 수 있습니다. 이 경우 “회사”는 지체없이 필요한 조치를 취하고, 이를 즉시 신청인에게 통지합니다.</p>
                                    <h4 class="title-uppercase">제21조 [저작권 등의 귀속]</h4>
                                    <p>① “회사”가 제작하거나 소유한 “콘텐츠”에 대한 저작권 기타 지식재산권은 “회사”에 귀속합니다.</p>
                                    <p>② “이용자”가 온라인서비스를 이용하면서 독자적으로 생성한 콘텐츠에 대하여는 “이용자”가 저작권 등의 권리를 가집니다. “회사”는 “이용자”의 저작물을 사용하고자 하는 경우 당해 “이용자”의 허락을 받습니다.</p>
                                    <p>③ “이용자”는 “회사”가 제공하는 “콘텐츠”를 이용함으로써 얻은 정보 중 “회사” 또는 제공업체에 지식재산권이 귀속된 정보를 “회사” 또는 제공업체의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다. 다만, 「저작권법」 및 「콘텐츠산업진흥법」 등에서 이를 허용한 경우에는 그러하지 않습니다.</p>
                                    <h4 class="title-uppercase">제22조 [회사의 계약해제․해지 및 이용제한]</h4>
                                    <p>① “회사”는 “이용자”가 제11조 제2항 각호에서 정한 행위를 하였을 경우 사전통지 후 기간을 정하여 “콘텐츠”의 이용을 제한할 수 있습니다.</p>
                                    <p>② “회사”는 다음 각 호의 어느 하나에 해당하는 경우 “콘텐츠” 이용계약을 해제 또는 해지할 수 있습니다.</p>
                                    <p>1. 제1항에 따라 “콘텐츠”의 이용이 제한되었던 “이용자”가 제11 제2항 각호에서 정한 행위를 한 경우. </p>
                                    <p>2. “회사”가 제11조 제2항 각호에서 정한 행위를 한 “이용자”에게 시정을 요구하였음에도 불구하고, 30일 이내에 그 사유가 시정되지 않은 경우</p>
                                    <p>③ 제2항의 해제․해지는 제10조 제1항에서 정하고 있는 방법에 따라 “이용자”에게 그 의사표시가 도달한 때에 효력이 발생합니다.</p>
                                    <p>④ “이용자”는 “회사”의 해제․해지 및 이용제한에 대하여 이의신청을 할 수 있습니다. “이용자”의 이의신청이 정당한 경우 “회사”는 즉시 “이용자”가 “콘텐츠”를 이용할 수 있도록 필요한 조치를 취합니다.</p>
                                    <p>⑤ “회사“의 해제·해지 및 이용제한에 대하여 “이용자“가 자신의 고의나 과실이 없었음을 입증한 경우, “회사“는 “이용자“의 계정을 정지한 기간만큼 이용기간을 연장합니다.</p>
                                    <h4 class="title-uppercase">제23조 [회사의 계약해제․해지의 효과]</h4>
                                    <p>“회사”는 “콘텐츠” 이용계약의 해지 및 해제와 관련해서 「콘텐츠이용자보호지침」에 따라 처리합니다.</p>
                                    <h4 class="title-uppercase">제24조 [분쟁의 해결]</h4>
                                    <p>① “회사”는 “이용자”가 제기하는 의견이나 불만에 대하여 적절하고 신속하게 처리하고, 그 결과를 통지합니다. 다만, 신속한 처리가 곤란한 경우에 “회사”는 “이용자”에게 그 사유와 처리일정을 통보합니다.</p>
                                    <p>② “회사”는 “이용자”가 제기한 의견 등이 정당하지 않음을 이유로 처리하지 않은 경우 이의 사유를 통보합니다.</p>
                                    <p>③ “회사”와 “이용자” 사이에 분쟁이 발생한 경우 “회사” 또는 “이용자”는 「콘텐츠산업진흥법」 제29조에서 정하고 있는 콘텐츠분쟁조정위원회에 분쟁조정을 신청할 수 있습니다.</p>
                                    <h4 class="title-uppercase">제25조 [재판관할]</h4>
                                    <p>① “회사”와 “이용자”간의 “콘텐츠” 이용계약에 관한 소송은 제소 당시의 “이용자”의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다.</p>
                                    <p>② 제소 당시 “이용자”의 주소 또는 거소가 분명하지 아니한 경우에 “회사”와 “이용자”간의 “콘텐츠” 이용계약에 관한 소송에 관한 관할법원은 「민사소송법」에 따라 정합니다.</p>
                                    <p>③ 해외에 주소나 거소가 있는 "회원"의 경우 "회사"와 "회원"간 발생한 분쟁에 관한 소송은 전항에도 불구하고 대한민국 서울중앙지방법원을 관할법원으로 합니다.</p>
                                    <br /><br />
                                    <h5 class="title-uppercase">시행일: 2023년 7월 1일</h5>

                                </div>
                            </div>
                        </div>
        `   	    </div>
                </div>
            <div>
        </div>
    </div>
</div>

{% endblock %}

