<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>튼튼영어 채널관리 안내메일</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" style="width:660px; margin:0 40px; font-family:'Malgun Gothic'; font-size:16px; color:#424242; letter-spacing:-1px;">
        <tbody>
            <tr>
                <td align="center" style="margin:0; padding:20px 0 10px; font-family:Malgun Gothic,Malgun Gothic,Dotum,AppleGothic, Arial,sans-serif; font-size:16px; color:#424242;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" style="margin:0; padding:0; font-family:Malgun Gothic,Malgun Gothic,Dotum,AppleGothic, Arial,sans-serif;">
                                    <h4>튼튼영어 채널관리 v3.0</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="margin:0; padding:0 0 30px 0;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="margin:0; padding:60px 0 20px; font-family:Malgun Gothic,Malgun Gothic,Dotum,AppleGothic,Arial,sans-serif; font-size:25px; font-weight:bold; color:#000; text-align:center;letter-spacing:-2px;">
                                    {% if format_type == "register" %}
                                        <span>회원 가입을 환영합니다.</span>
                                    {% elif format_type == "re_auth" %}
                                        <span>이메일 재인증</span>
                                    {% elif format_type == "reset_passwd" %}
                                        <span>비밀번호 초기화</span>
                                    {% elif format_type == "email_update" %}
                                        <span>이메일 계정 변경 안내</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="height:10px; margin:0; padding:0;"></td>
                            </tr>
                            <tr>
                                <td style="margin:0; padding:0 0 20px; font-family:'Malgun Gothic','맑은 고딕'; font-size:16px; color:#666; text-align:center;">
                                    안녕하세요. {{member_name}} 회원님!<br /><br />

                                    {% if format_type == "register" %}
                                       <span>튼튼영어 채널관리에 등록해주셔서 감사합니다.<br/>이메일 인증을 위해, 아래의 확인 버튼을 클릭해주세요.</span>
                                    {% elif format_type == "re_auth" %}
                                       <span>튼튼영어 채널관리의 이메일 재인증을 위해, 아래의 확인 버튼을 클릭해주세요.</span>
                                    {% elif format_type == "reset_passwd" %}
                                       <span>튼튼영어 채널관리의 비밀번호 초기화를 위해, 아래의 확인 버튼을 클릭해주세요.</span>
                                    {% elif format_type == "email_update" %}
                                       <span>튼튼영어 채널관리의 이메일 계정이 변경되었습니다.<br/>새로 변경된 이메일 인증을 위해, 아래의 확인 버튼을 클릭해주세요.</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="margin:0; padding:0 0 40px;">
                                    <div style="width: 160px;height:50px;line-height:50px;margin:0 auto;">
                                        <a href="{{auth_url}}" target="_blank"
                                        style="display:block; width:160px; height:50px; line-height:50px; background:#000; margin:0 auto; text-align:center; color:#fff; text-decoration:none; font-size:18px; font-family:'malgun gothic','맑은 고딕'; letter-spacing:-1px;"
                                        rel="noreferrer noopener">확인</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="height:20px; margin:0; padding:0;"></td>
            </tr>
            <tr>
                <td colspan="3" style="margin:0; padding:0; font-family:'Malgun Gothic','맑은 고딕'; font-size:14px; line-height:22px; color:#888;">
                    본 메일은 발신 전용이므로, 문의 사항은 홈페이지 고객센터를 이용해주시기 바랍니다.<br>
                    서울특별시 강남구 논현로 164(도곡동) 튼튼영어&nbsp; 대표자 조덕현 &nbsp;사업자등록번호 241-88-01632<br>
                    Copyright ⓒ 튼튼영어. All Rights Reserved.
                </td>
            </tr>
            <tr>
                <td style="height:30px; margin:0; padding:0;"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>