<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
        <div class="copyright text-center  text-lg-left  text-muted">
            &copy; <script>document.write(new Date().getFullYear())</script> Tuntun English
        </div>
        </div>
        <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
            <a href="http://gw.tuntun.co.kr" class="nav-link" target="_blank">그룹웨어</a>
            </li>
            <li class="nav-item">
            <a href="https://www.tuntun.com" class="nav-link" target="_blank">브랜드사이트</a>
            </li>
            <li class="nav-item">
            <a href="https://player.tuntun.com" class="nav-link" target="_blank">튼튼플레이어</a>
            </li>
            <li class="nav-item">
                <strong><a href="{{url_for('accounts.user_term')}}" class="nav-link" target="_blank">이용약관</a></strong> 
            </li>
        </ul>
        </div>
    </div>
</footer>