<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/accounts/login">
            <div class="logo-image-small">
                <img src="../../static/images/logo/mainlogo_white.svg" style="width:70px">
            </div>
            <h4 class="text-white">채널관리 v3.0</h4>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <!-- <a href="../../pages/dashboards/dashboard.html">
                <img src="../../assets/img/brand/blue.png">
              </a> -->
              <h3>튼튼영어 채널관리 v3.0</h3>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">
          {% if session.login_user %}
          <li class="nav-item">
            <a href="{{url_for('accounts.logout')}}" class="nav-link">
              <span class="nav-link-inner--text">로그아웃</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('homes.index', channel_id=session.login_user.channel_id)}}" class="nav-link">
              <span class="nav-link-inner--text">대시보드</span>
            </a>
          </li>
        {% else %}  
          <li class="nav-item">
            <a href="{{url_for('accounts.login')}}" class="nav-link">
              <span class="nav-link-inner--text">로그인</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('accounts.user_insert')}}" class="nav-link">
              <span class="nav-link-inner--text">신규등록</span>
            </a>
          </li>
        {% endif %}  
        </ul>
      </div>
    </div>
  </nav>