<!-- Table -->
<div class="row">
    <div class="col">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-0">{{channel_id | channel_name}} 파트너
                        {% include 'includes/channel_list.html' %}
                    </h3>
                </div>
                {% if request.endpoint != 'index' %}
                <div class="col-6 text-right">
                    <a href="javascript:history.back();" class="btn btn-sm btn-outline-default btn-round btn-icon">
                        뒤로가기
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="table-responsive py-4">
        <table class="table table-flush table-striped table-hover" id="datatable-basic">
            <thead class="thead-light">
            <tr>
                <th>파트너</th>
                <th>상담</th>
                <th>지원</th>
                <th>위반</th>
                <th>대표</th>
                <th>연락처</th>
                <th>신규등록</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>파트너</th>
                <th>상담</th>
                <th>지원</th>
                <th>위반</th>
                <th>대표</th>
                <th>연락처</th>
                <th>신규등록</th>
            </tr>
            </tfoot>
            <tbody>
            {% for res in res_list %}
                <tr>
                    <td>
                        <a href="{{ url_for('counsels.agency_map', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID) }}" class="">
                            {{res.AgencyName}}
                        </a>
                    </td>
                    <td> 
                        <a href="{{ url_for('counsels.agency_consult_list', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="상담">
                            <span class="font-weight-bold text-info">
                                {{res.ConsultCnt}}
                            </span> 
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('counsels.agency_support_list', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="지원">
                            <span class="font-weight-bold text-success">
                                {{res.SupportCnt}}
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('counsels.agency_violation_list', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="위반">
                            <span class="font-weight-bold text-danger">
                                {{res.ViolationCnt}}
                            </span>
                        </a>
                    </td>
                    <td>{{res.OwnerName}}</td>
                    <td>{{res.Tel if res.Tel}}</td>
                    <td>
                        <a href="{{ url_for('counsels.consult_modify', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID, channel_manage_id=0) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="상담">
                            <i class="ni ni-ungroup text-info"></i>
                        </a>    
                        &nbsp;&nbsp;
                        <a href="{{ url_for('counsels.support_modify', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID, channel_manage_id=0) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="지원">    
                            <i class="ni ni-money-coins text-success"></i>
                        </a>    
                        &nbsp;&nbsp;
                        <a href="{{ url_for('counsels.violation_modify', channel_id=channel_id, channel_agency_id=res.ChannelAgencyID, channel_manage_id=0) }}" class="table-action table-action-edit" data-toggle="tooltip" data-original-title="위반">    
                            <i class="ni ni-notification-70 text-danger"></i>
                        </a>    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    </div>
</div>