<div class="col-lg-4">
    <!-- Profile card -->
    <div class="card card-profile">
      <img src="/static/images/brand/{{ channel_id | channel_background }}" alt="Image placeholder" class="card-img-top">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <!-- <img src="{{'/static/images/brand/man.jpg' if agency.Gender == 'F' else '/static/images/brand/woman.jpg'}}" class="rounded-circle"> -->
            <img src="/static/images/brand/man.jpg" class="rounded-circle">
          </div>
          </div>
      </div>
      <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex justify-content-between">
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col">
   
            <div class="card-profile-stats d-flex justify-content-center">
              <div>
                <span class="heading">
                  <a href="{{ url_for('counsels.agency_consult_list', channel_id=channel_id, channel_agency_id=agency.ChannelAgencyID) }}">
                      <span class="font-weight-bold text-info">{{agency.ConsultCnt}}</span>
                  </a>	
                </span>
                <span class="description">상담</span>
              </div>
              <div>
                <span class="heading">
                  <a href="{{ url_for('counsels.agency_support_list', channel_id=channel_id, channel_agency_id=agency.ChannelAgencyID) }}">
                    <span class="font-weight-bold text-success">{{agency.SupportCnt}}</span>
                  </a>	
                </span>
                <span class="description">지원</span>
              </div>
              <div>
                <span class="heading">
                  <a href="{{ url_for('counsels.agency_violation_list', channel_id=channel_id, channel_agency_id=agency.ChannelAgencyID) }}">
                    <span class="font-weight-bold text-danger">{{agency.ViolationCnt}}</span>
                  </a>	
                </span>
                <span class="description">위반</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h2>
            {{agency.AgencyName}}
          </h2>
          <h4>
           <span class="font-weight-light">{{agency.OwnerName}}</span>
          </h4>
          <div class="h5 font-weight-300">
            개설일: {{agency.OpenDate}}
          </div>
          <div class="h5 font-weight-300">
            {{agency.Mobile}}
          </div>
          <div class="h5 font-weight-300">
            {{agency.Tel if agency.Tel}}
          </div>
          <div class="h5 font-weight-300">
            {{agency.Email}}
          </div>
          <div class="h5 font-weight-300">
            {{agency.FullAddressTotal}}
          </div>
        </div>
      </div>
    </div>
  </div>
