{% from "macros/form.html" import input, select %}

<div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
    <form>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label class="form-control-label" for="partner_code">파트너</label>
                {{ input('hidden', 'channel_id', channel_id) }}
                {{ select('partner_code', partner_list) }}
            </div>
            <div class="col-md-3 mb-3">
                <label class="form-control-label">&nbsp;</label>
                <button class="form-control btn btn-success" type="button" onclick="partnerUpdate()">적용</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function partnerUpdate() {
      const arrItem = [];
      const channel_id = document.getElementById("channel_id").value;
      const partner_code = document.getElementById("partner_code").value;
  
      $("#itemList td input[type=checkbox]:checked").each(function () {
        const checkId = $(this).attr("id");
        const currentCheckboxId = checkId.split('_')[1];
        arrItem.push(currentCheckboxId);
      });
  
      if (arrItem.length > 0) {
        const commaseparatedIds = arrItem.join(',');
        $.ajax({
          type: "POST",
          url: "/sources/set_source_partner_update",
          data: {
            channel_id: channel_id,
            partner_code: partner_code,
            source_list: commaseparatedIds
          },
          success: function () {
            location.reload();
         }
        });
      } else {
        swal({
          title: '오류',
          text: '변경할 소스를 선택하지 않았습니다.',
          type: 'warning',
          confirmButtonClass: "btn btn-warning",
          buttonsStyling: false
        });
      }
    }
  
  </script>